  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Welkom op de verhuurpagina van biker haaglanden" />
    <title>Biker Homepagina <%= pageTitle %></title>
    <link rel="shortcut icon" href="images/Logo Biker haaglanden.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Caveat|Montserrat:400,600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="https://use.typekit.net/vqt1jaf.css" />
  </head>
  <body>
    <header>
      <section class="btntop">
        <nav>
          <ul>
            <li>
              <a href="/">Homepagina</a>
            </li>
            <li style="float: right"><a href="/fietsm" class="active">Database Fietsen</a></li>
            <li style="float: right"><a href="/medewerkerm">Database Medewerkers</a></li>
            <li style="float: right"><a href="/klantm">Database Klanten</a></li>
          </ul>
        </nav>
    </section>
      <section class="logo12">
        <a href="/" target="_blank"
          ><img src="./images/Biker.com main background .png" alt="logo van biker haaglanden" width="1300" height="300"
        /></a>
      </section>
    </header>
<main>
    <h1 style="text-align: center;">Fiets gegevens vanuit database van Biker</h1>
    <p>
      Biker Haaglanden staat bekend in de regio als een fietsverhuurbedrijf dat daarnaast de
      courante modellen uit de voorraad verhuurt aan de toeristen in de regio. Steeds meer
      mensen nemen contact op met Biker om fietsen te huren en ook voor de mogelijkheid om een
      reis te boeken. Biker biedt de klant de mogelijkheid om een fiets te reserveren.
    </p>
    <p>
      Naast de website is er ook veel te beleven in de winkels. Daar komen klanten altijd
      naartoe om hun fietsen te halen of in te leveren. Aan de balie is ook informatie krijgen.
      De baliemedewerkers zorgen ervoor dat klanten antwoord krijgen op hun vragen, en ze
      verzorgen ook de verkoop/ verhuur. De reparateurs richten zich op de kwaliteit van de
      fietsen en beheren de voorraad.
    </p>
  <% if (data.length) { %> 
    <table  class="med-tafel">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Type Fiets</th>
          <th scope="col">Dag prijs</th>
          <th scope="col">Borg</th>
          <th scope="col">Merk</th>
        </tr>
      </thead>
        <tbody>
          <% for(var i = 0; i < data.length; i++) { %>
            <tr>
              <th scope="row"><%= (i+1) %></th>
              <td><%= data[i].type_fiets %></td>
              <td><%= data[i].dagprijs %></td>
              <td><%= data[i].borg %></td>
              <td><%= data[i].merkfiets %></td>
            </tr>
        <% } %>
        </tbody>
    </table>
    <% }  %> 
    <br>
    <br>
</main>
    <footer>
      <section class="footer">
        <nav>
          <section class="footermenu">
            <a href="/">Home pagina</a>
          </section>
          <img src="./images/Logo Biker haaglanden.png" alt="logo biker" width="300px" height="300px" />
          <section class="footer-section-icons">
            <a href="https://www.youtube.com/watch?v=tnVs-rN6SaM" target="_blank"
              ><i class="fa fa-youtube" style="font-size: 48px" aria-hidden="true"></i
            ></a>
            <a href="https://twitter.com" target="_blank"><i class="fa fa-twitter" style="font-size: 48px" aria-hidden="true"></i></a>
            <a href="https://instagram.com" target="_blank"><i class="fa fa-instagram" style="font-size: 48px" aria-hidden="true"></i></a>
            <a href="https://linkedin.com" target="_blank"><i class="fa fa-linkedin-square" style="font-size: 48px" aria-hidden="true"></i></a>
            <a href="https://facebook.com" target="_blank"><i class="fa fa-facebook-square" style="font-size: 48px" aria-hidden="true"></i></a>
            <a href="https://outlook.com" target="_blank"><i class="fa fa-envelope" style="font-size: 48px" aria-hidden="true"></i></a>
          </section>
        </nav>
      </section>
      <section class="footer-bottom">&copy; Pagina gemaakt door: Ab</section>
    </footer>
</body>
